/* styles.css */

/* Common styles for all screen sizes */
body {
    font-family: 'Arial', sans-serif;
    background-color: #222; /* Dark background color */
    color: #fff; /* Text color */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    margin-bottom: 75px;
}

.container {
    max-width: 1200px; /* Set maximum width for content */
    margin: 0 auto; /* Center the content */
    padding: 20px;
}

/* Header styles */
header {
    background-color: #004080; /* Dark blue header background color */
    padding: 10px;
}

h1, h2, h3 {
    color: #fff; /* Header text color */
}

/* Navigation styles */
nav {
    background-color: #002040; /* Darker blue navigation background color */
}

a {
    color: #ffff14;
    text-decoration: none;
  }

  /* Link color after click */
a:visited {
    color: #e0aaf9;
  }

nav a {
    color: #fff; /* Navigation link color */
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

/* Responsive styles for screens up to 767 pixels */
@media only screen and (max-width: 767px) {
    body {
        font-size: 14px; /* Decrease font size for mobile */
    }

    .container {
        padding: 10px; /* Adjust container padding for mobile */
    }

    nav {
        text-align: center; /* Center navigation links on mobile */
    }
}

nav a:visited {
    color: #fff; /* White text color for navigation links */
    text-decoration: none;
    padding: 2em;
    margin: 0em;
    width: 100%
}

nav a:hover {
    color: #6991c2aa;
}

footer {
    background-color: #0d47a1; /* Dark blue footer background color */
    color: #fff; /* White text color */
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;   
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid #fbf9f9;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #19408d;
}

tr:hover {
    background-color: #807d7d;
}