<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <title>Context</title>

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="The Palestine Accountability Archive">
    <meta property="og:description" content="A grassroots project to hold our political leaders accountable. Free Palestine!">
    <meta property="og:url" content="https://palaccarchive.pythonanywhere.com/">
    <!-- <meta property="og:image" content="https://www.yourwebsite.com/images/preview-image.jpg"> -->
    <meta property="og:type" content="website">

    <!-- Include Normalize.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <!-- Custom style sheet -->
    <link rel="stylesheet" href="/static/styles.css">

    <!-- Palestine flag as webpage icon -->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🇵🇸</text></svg>">    
    
    <!-- Plotly CDN for JavaScript libraries -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>

    <header>
        <h1>Context</h1>
    </header>

    <nav>
        <a href="{{ url_for('index') }}"> Home </a>
        <a href="{{ url_for('about') }}"> About </a>
        <a href="{{ url_for('context') }}"> Context </a>
        <a href="{{ url_for('sources') }}"> Sources </a>
        <a href="{{ url_for('contact') }}"> Contact </a>
    </nav>

    <main>
        <h1>Did this start on October 7th, 2023?</h1>
        <h2>No, it didn't.</h2>

            <!-- Container for the Plotly chart -->
            <div id="plotly-chart">
                {{ context_plot|safe }}
            </div>

    <p>The chart above is a summary of all deaths between Israel and Palestine from the year 2000 (the second Intifada) until October 5th, 2023. 
        This data was sourced from <a href="https://statistics.btselem.org/en/all-fatalities/by-date-of-incident?section=overall&tab=overview">B'Tselem</a>, an Israeli human rights organization.
        
        
        WIP: Data exploration to examine military vs civilian deaths, areas most impacted and most common style of execution
   
    </p>
  
    <p>Data prior to 2000 is difficult to source, but various studies indicate the following: WIP</p>


    <p>For a complete list of all sources of significant events, please visit the <a href="{{ url_for('sources') }}">Sources</a> tab.</p>
    </main>

    <div>
    <footer>
    The Palestine Accountability Archive.<br>All rights reserved. Built with ChatGPT.
    </footer>
    </div>

</body>
</html>
