<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <title>The Palestine Accountability Archive</title>

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="The Palestine Accountability Archive">
    <meta property="og:description" content="A grassroots project to hold our political leaders accountable. Free Palestine!">
    <meta property="og:url" content="https://palaccarchive.pythonanywhere.com/">
    <!-- <meta property="og:image" content="https://www.yourwebsite.com/images/preview-image.jpg"> -->
    <meta property="og:type" content="website">

    <!-- Include Normalize.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <!-- Custom style sheet -->
    <link rel="stylesheet" href="/static/styles.css">

    <!-- Palestine flag as webpage icon -->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🇵🇸</text></svg>">    

</head>
<body>

    <header>
        <h1>Contact</h1>
    </header>

    <nav>
        <a href="{{ url_for('index') }}"> Home </a>
        <a href="{{ url_for('about') }}"> About </a>
        <a href="{{ url_for('sources') }}"> Sources </a>
        <a href="{{ url_for('contact') }}"> Contact </a>
    </nav>

    <main>
        <h2>For inquiries/comments/questions/concerns, please <a href="mailto:palaccarchive@gmail.com">contact me</a>.</h2>
    </main>

    <footer>
        &copy; 2023 The Palestine Accountability Archive. All rights reserved. Built with ChatGPT.
    </footer>

</body>
</html>
