<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <title>The Palestine Accountability Archive</title>

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="The Palestine Accountability Archive">
    <meta property="og:description" content="A grassroots project to hold our political leaders accountable. Free Palestine!">
    <meta property="og:url" content="https://palaccarchive.pythonanywhere.com/">
    <!-- <meta property="og:image" content="https://www.yourwebsite.com/images/preview-image.jpg"> -->
    <meta property="og:type" content="website">

    <!-- Include Normalize.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <!-- Custom style sheet -->
    <link rel="stylesheet" href="/static/styles.css">

    <!-- Palestine flag as webpage icon -->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🇵🇸</text></svg>">    
    
    <!-- Plotly CDN for JavaScript libraries -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>

    <header>
        <h1>The Palestine Accountability Archive</h1>
    </header>

    <nav>
        <a href="{{ url_for('index') }}"> Home </a>
        <a href="{{ url_for('about') }}"> About </a>
        <a href="{{ url_for('sources') }}"> Sources </a>
        <a href="{{ url_for('contact') }}"> Contact </a>
    </nav>

    <main>
        <h2>We want to know: what is a proportionate response?</h2>
        <p>Visualization of deaths in Palestine since October 7.</p>
        <p>Holding our leaders accountable for what they say and when they say it.</p>
            <!-- Container for the Plotly chart -->
            <div id="plotly-chart">
                {{ plot_html|safe }}
            </div>

    <p>This chart was created by recording the daily death toll from <a href="https://www.aljazeera.com/news/longform/2023/10/9/israel-hamas-war-in-maps-and-charts-live-tracker">Al Jazeera</a> using the Wayback Machine to scrub the website between October 9 and present day.</p>
   <p>Notes: The Palestinian death count is widely thought to be underestimated due to to bodies trapped under the rubble as well as underreporting of deaths due to disease, thirst and/or starvation. 
    Total Israeli death count includes military and police. As of November 11, <a href="https://www.npr.org/2023/11/11/1212458974/israel-revises-death-toll-hamas-attacks-oct-7">Israeli sources</a> 
    have confirmed the total deaths to be just under 1,200 (1,152 according to Haaretz), compared with the initial widely circulated number of 1,400. 
    A complete list is available from <a href="https://www.haaretz.com/israel-news/2023-10-19/ty-article-magazine/israels-dead-the-names-of-those-killed-in-hamas-massacres-and-the-israel-hamas-war/0000018b-325c-d450-a3af-7b5cf0210000">Haaretz</a>.
    Deaths in the West Bank, also reported here, are due to state-sponsored settler violence and IDF attacks on West Bank protesters.</p>
    <p>For a complete list of all sources of significant events, please visit the <a href="{{ url_for('sources') }}">Sources</a> tab.</p>
    </main>

    <div>
    <footer>
        &copy; 2023 The Palestine Accountability Archive. All rights reserved. Built with ChatGPT.
    </footer>
    </div>

</body>
</html>
